.modal_container {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .5);
}

.modal {
    width: 98%;
    max-width: 600px;
    margin: 20vh auto;

    background-color: var(--gray-0);
    padding: 30px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

    position: relative;
}

.close_button {
    position: absolute;
    top: 15px;
    right: 15px;

    border: none;
    background-color: transparent;

    font-size: 1.3rem;
    cursor: pointer;
}


.xs {
    max-width: 300px;
}
.sm {
    max-width: 500px;
}
.md {
    max-width: 750px;
}
.lg {
    max-width: 1000px;
}
.xl {
    max-width: 1200px;
}